//variables

$colorBase: #D8D8D8; //gris osc
$colorPrincipal: black;
$colorSecundario: #E6E6E6; //gris cl
$colorTerciario: #848484; //gris + osc

$fontSmall: 20px;
$fontXs: 18px;
$fontMedium: 26px;
$fontLarge: 32px;

$mobile: 576px;
$tablet: 768px;
$desktop: 1200px;
